# Modelo del salario devengado en guatemala

El modelo planteado es un modelo económetrico para identificar las variables que influyen en el sueldo devengado en Guatemala, con base a la ENEI (2021). La variable dependiente o de salida es **sueldo o salario devengado**. 


Se incorpora la base de datos de la Encuesta Nacional de Empleo e Ingresos (ENEI) del año 2021. Se realizó una pequeña transformación por medio de Excel para incluir los nombres de los campos.

Los pasos del proceso son los siguientes:
1. Instalación de librerías
2. Incorporación de bibliotecas
3. Incorporación de la base de datos
4. Hacer el perfilado de datos para conocer cuantos valores nulos hay en la base de datos
5. Limpieza de las variables (eliminar los registros que contenga campos vacios o nulos)
6. Realizar matriz de correlación de variables para identificar las variables que pueden influir en los cambios de la variable dependiente.

# Instalación de paquetes y bibliotecas

In [1]:
#Instalación de las bibliotecas
 install.packages("readxl")
 install.packages("dplyr")
 install.packages("ggplot2")
 install.packages("GGally")
 install.packages("Hmisc")
 install.packages("corrplot")
 install.packages("PerformanceAnalytics")
 install.packages("funModeling")
install.packages("tidyr")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

also installing the dependency ‘reshape’


Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

also installing the dependencies ‘checkmate’, ‘cluster’, ‘foreign’, ‘gridExtra’, ‘htmlTable’, ‘viridis’, ‘Formula’


Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

also installing the dependencies ‘gtools’, ‘caTools’, ‘gplots’, ‘ROCR’, ‘pander’, ‘lazyeval’, ‘moments’, ‘entropy’


Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [2]:
#Incorporación de los paquetes al jupiter notebook
 library(readxl)
 library(dplyr)
 library(ggplot2)
 library(GGally)
 library(Hmisc)
 library(corrplot)
 library(PerformanceAnalytics)
 library(funModeling)
library(tidyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2


Attaching package: ‘Hmisc’


The following objects are masked from ‘package:dplyr’:

    src, summarize


The following objects are masked from ‘package:base’:

    format.pval, units


corrplot 0.92 loaded

Loading required package: xts

Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric



################################### WARNING ###################################
# We noticed you have dplyr installed. The dplyr lag() function breaks how    #
# base R's lag() function is supposed to work, which breaks lag(my_xts).      #
#                                                                             #
# Calls to lag(my_xts) that you enter or source() into this session won't     #
# work correctly.                                                             #
#                                                                             #
# All package code is unaffected because it is protected by the R namespace   #
# mechanism.                                                                  #
#                                                                             #
# Set `options(xts.warn_dplyr_breaks_lag = FALSE)` to suppress this warning.  #
#                                                                             #
# You can use stats::lag() to make sure you're not using dplyr::lag(), or you #
# can add conflictRules('dplyr', exclude = 'lag') to your .Rprofile to stop   #
# dplyr from breaking base R's lag() function.                                #
################################### WARNING ###################################


Attaching package: ‘xts’


The following objects are masked from ‘package:dplyr’:

    first, last



Attaching package: ‘PerformanceAnalytics’


The following object is masked from ‘package:graphics’:

    legend


funModeling v.1.9.4 :)
Examples and tutorials at livebook.datascienceheroes.com
 / Now in Spanish: librovivodecienciadedatos.ai


Attaching package: ‘funModeling’


The following object is masked from ‘package:GGally’:

    range01

In [5]:
base <- read_excel("2021_2019.xlsx") #Incorporación de la base de datos

In [6]:
# Mostrar los primeros 6 registros
head(base)

  SEXO EDAD NIVEL DE ESTUDIOS APROBADOS OCUPACIÓN A DOS DÍGITOS TAMAÑO EMPRESA
1 2    43   4                           72                      2400
2 1    20   4                           43                       200
3 2    16   3                           NA                        NA
4 2    14   3                           NA                        NA
5 1    69   4                           NA                        NA
6 2    66   3                           NA                        NA
  SUELDO O SALARIOS TIEMPO DE TRABAJO
1 4000               3
2 3000               0
3   NA              NA
4   NA              NA
5   NA              NA
6   NA              NA

In [7]:
#Mostrar los últimos 6 registros
tail(base)

  SEXO EDAD NIVEL DE ESTUDIOS APROBADOS OCUPACIÓN A DOS DÍGITOS TAMAÑO EMPRESA
1 2    36   NA                          NA                      NA
2 2    18   NA                          NA                      NA
3 1    11   NA                          NA                      NA
4 1    85   NA                          NA                      NA
5 2    58   NA                          NA                      NA
6 1    23   NA                          NA                      NA
  SUELDO O SALARIOS TIEMPO DE TRABAJO
1 NA                NA
2 NA                NA
3 NA                NA
4 NA                NA
5 NA                NA
6 NA                NA

In [8]:
#Mostrar solo el tipo de datos de cada columna
str(base)

tibble [48,638 × 7] (S3: tbl_df/tbl/data.frame)
 $ SEXO                       : num [1:48638] 2 1 2 2 1 2 1 2 2 1 ...
 $ EDAD                       : num [1:48638] 43 20 16 14 69 66 27 24 8 40 ...
 $ NIVEL DE ESTUDIOS APROBADOS: num [1:48638] 4 4 3 3 4 3 4 4 2 4 ...
 $ OCUPACIÓN A DOS DÍGITOS    : num [1:48638] 72 43 NA NA NA NA NA 42 NA 83 ...
 $ TAMAÑO EMPRESA             : num [1:48638] 2400 200 NA NA NA NA NA 3000 NA 1 ...
 $ SUELDO O SALARIOS          : num [1:48638] 4000 3000 NA NA NA NA NA 4200 NA NA ...
 $ TIEMPO DE TRABAJO          : num [1:48638] 3 0 NA NA NA NA NA 2 NA 3 ...

In [9]:
# Es una función de diplyr que muestra los datos de manera horizontal y su contenido
glimpse(base)

Rows: 48,638
Columns: 7
$ SEXO                          <dbl> 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2…
$ EDAD                          <dbl> 43, 20, 16, 14, 69, 66, 27, 24, 8, 40, 3…
$ `NIVEL DE ESTUDIOS APROBADOS` <dbl> 4, 4, 3, 3, 4, 3, 4, 4, 2, 4, 4, 4, 5, 2…
$ `OCUPACIÓN A DOS DÍGITOS`     <dbl> 72, 43, NA, NA, NA, NA, NA, 42, NA, 83, …
$ `TAMAÑO EMPRESA`              <dbl> 2400, 200, NA, NA, NA, NA, NA, 3000, NA,…
$ `SUELDO O SALARIOS`           <dbl> 4000, 3000, NA, NA, NA, NA, NA, 4200, NA…
$ `TIEMPO DE TRABAJO`           <dbl> 3, 0, NA, NA, NA, NA, NA, 2, NA, 3, 5, 5…

# Data Profiling

In [10]:
status(base)
#q_zeros: Cantidad de ceros
#p_zeros: Porcentaje de ceros
#q_na: cantidad de NA
#p_na: porcentaje de NA
#tipo: tipo de dato, factor o numeric
#unique: Cantidad de valores unicos, util para clasificar datos.

                            variable                    q_zeros p_zeros
SEXO                        SEXO                           0    0.000000000
EDAD                        EDAD                         710    0.014597640
NIVEL DE ESTUDIOS APROBADOS NIVEL DE ESTUDIOS APROBADOS 5685    0.116883918
OCUPACIÓN A DOS DÍGITOS     OCUPACIÓN A DOS DÍGITOS       18    0.000370081
TAMAÑO EMPRESA              TAMAÑO EMPRESA                 0    0.000000000
SUELDO O SALARIOS           SUELDO O SALARIOS              0    0.000000000
TIEMPO DE TRABAJO           TIEMPO DE TRABAJO           1884    0.038735145
                            q_na  p_na      q_inf p_inf type    unique
SEXO                            0 0.0000000 0     0     numeric   2
EDAD                            0 0.0000000 0     0     numeric  98
NIVEL DE ESTUDIOS APROBADOS  7457 0.1533163 0     0     numeric   8
OCUPACIÓN A DOS DÍGITOS     27863 0.5728648 0     0     numeric  41
TAMAÑO EMPRESA              27863 0.5728648 0     0     numeric 182
SUELDO O SALARIOS           36175 0.7437600 0     0     numeric 393
TIEMPO DE TRABAJO           27863 0.5728648 0     0     numeric  72

In [11]:
#Ordenar los datos según la cantidad de ceros
base_status <- status(base)
arrange(base_status, -p_zeros) %>%
  select(variable, q_zeros, p_zeros)

                            variable                    q_zeros p_zeros
NIVEL DE ESTUDIOS APROBADOS NIVEL DE ESTUDIOS APROBADOS 5685    0.116883918
TIEMPO DE TRABAJO           TIEMPO DE TRABAJO           1884    0.038735145
EDAD                        EDAD                         710    0.014597640
OCUPACIÓN A DOS DÍGITOS     OCUPACIÓN A DOS DÍGITOS       18    0.000370081
SEXO                        SEXO                           0    0.000000000
TAMAÑO EMPRESA              TAMAÑO EMPRESA                 0    0.000000000
SUELDO O SALARIOS           SUELDO O SALARIOS              0    0.000000000

# Sección nueva

In [12]:
# Matriz de correlación

round(cor(base), 2)

                            SEXO EDAD NIVEL DE ESTUDIOS APROBADOS
SEXO                        1.00 0.04 NA
EDAD                        0.04 1.00 NA
NIVEL DE ESTUDIOS APROBADOS   NA   NA  1
OCUPACIÓN A DOS DÍGITOS       NA   NA NA
TAMAÑO EMPRESA                NA   NA NA
SUELDO O SALARIOS             NA   NA NA
TIEMPO DE TRABAJO             NA   NA NA
                            OCUPACIÓN A DOS DÍGITOS TAMAÑO EMPRESA
SEXO                        NA                      NA
EDAD                        NA                      NA
NIVEL DE ESTUDIOS APROBADOS NA                      NA
OCUPACIÓN A DOS DÍGITOS      1                      NA
TAMAÑO EMPRESA              NA                       1
SUELDO O SALARIOS           NA                      NA
TIEMPO DE TRABAJO           NA                      NA
                            SUELDO O SALARIOS TIEMPO DE TRABAJO
SEXO                        NA                NA
EDAD                        NA                NA
NIVEL DE ESTUDIOS APROBADOS NA                NA
OCUPACIÓN A DOS DÍGITOS     NA                NA
TAMAÑO EMPRESA              NA                NA
SUELDO O SALARIOS            1                NA
TIEMPO DE TRABAJO           NA                 1

In [13]:
#Ordenar los datos según la cantidad de NA
base_status <- status(base)
arrange(base_status, -p_na) %>%
  select(variable, q_na, p_na)

                            variable                    q_na  p_na
SUELDO O SALARIOS           SUELDO O SALARIOS           36175 0.7437600
OCUPACIÓN A DOS DÍGITOS     OCUPACIÓN A DOS DÍGITOS     27863 0.5728648
TAMAÑO EMPRESA              TAMAÑO EMPRESA              27863 0.5728648
TIEMPO DE TRABAJO           TIEMPO DE TRABAJO           27863 0.5728648
NIVEL DE ESTUDIOS APROBADOS NIVEL DE ESTUDIOS APROBADOS  7457 0.1533163
SEXO                        SEXO                            0 0.0000000
EDAD                        EDAD                            0 0.0000000

In [14]:
#Viendo la integridad de los datos
data_integrity(base)

$vars_num_with_NA
                                               variable  q_na      p_na
NIVEL DE ESTUDIOS APROBADOS NIVEL DE ESTUDIOS APROBADOS  7457 0.1533163
OCUPACIÓN A DOS DÍGITOS         OCUPACIÓN A DOS DÍGITOS 27863 0.5728648
TAMAÑO EMPRESA                           TAMAÑO EMPRESA 27863 0.5728648
SUELDO O SALARIOS                     SUELDO O SALARIOS 36175 0.7437600
TIEMPO DE TRABAJO                     TIEMPO DE TRABAJO 27863 0.5728648

$vars_cat_with_NA
[1] variable q_na     p_na
<0 rows> (or 0-length row.names)

$vars_cat_high_card
[1] variable unique
<0 rows> (or 0-length row.names)

$MAX_UNIQUE
[1] 35

$vars_one_value
character(0)

$vars_cat
character(0)

$vars_num
[1] "SEXO"                        "EDAD"
[3] "NIVEL DE ESTUDIOS APROBADOS" "OCUPACIÓN A DOS DÍGITOS"
[5] "TAMAÑO EMPRESA"              "SUELDO O SALARIOS"
[7] "TIEMPO DE TRABAJO"

$vars_char
character(0)

$vars_factor
character(0)

$vars_other
character(0)

In [15]:
#Ver estadísticas descriptivas
"Edad"
summary(base$EDAD)
"Sueldo o Salario"
summary(base$`SUELDO O SALARIO`)
"Sueldo o Salarios"
summary(base$`SUELDO O SALARIOS`)

[1] "Edad"

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   0.00   12.00   25.00   29.19   43.00   97.00

[1] "Sueldo o Salario"

Warning message:
“Unknown or uninitialised column: `SUELDO O SALARIO`.”

Length  Class   Mode
     0   NULL   NULL

[1] "Sueldo o Salarios"

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
     50    1200    2400    2665    3200   35000   36175

In [16]:
# Filtrando
datos <- base %>% drop_na(`SUELDO O SALARIO`)

ERROR: Error in `drop_na()`:
! Can't subset columns that don't exist.
✖ Column `SUELDO O SALARIO` doesn't exist.

In [17]:
#Summary
summary(datos$`SUELDO O SALARIO`)

ERROR: Error in summary(datos$`SUELDO O SALARIO`): object 'datos' not found

In [18]:
datos %>% count('SUELDO O SALARIO')

ERROR: Error in count(., "SUELDO O SALARIO"): object 'datos' not found